[submodule "Archive/V1"]
	path = Archive/V1
	url = https://github.com/PashaBarahimi/Operating-System-Projects
[submodule "Archive/V2"]
	path = Archive/V2
	url = https://github.com/MisaghM/Operating-System-Course-Projects
[submodule "Archive/V3"]
	path = Archive/V3
	url = https://github.com/SamanEN/Operating-System-Course-Projects